.ScreenMain__Personal {
  
}

.ScreenMain__Image_type_avatar {
    width: 306px;
    height: 324px;

    border-radius: 8px;
    border: 8px solid #fff;

    box-shadow: 0 0 2px 2px #dedede;

    position: fixed;

    bottom: 48px;
    right: 60px;
}

.ScreenMain__FullName {
    font-size: 2.5 rem;
}

.ScreenMain__Profession {
    color: #aeaeae;
    font-weight: normal;
}
