.Screen {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.Screen__Anchor {
  position: absolute;
  height: 1px;
  width: 100%;
  pointer-events: none;
  top: 1px;
}
