@import '../Globals/color';
@import '../Globals/text';

.App {
    scroll-behavior: smooth;
}

.App__MainScreenAnchor {
  height: 1px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}
